.modal__close {
  width: 40px;
  height: 40px;
}

.modal__imgae {
  width: 433px;
  height: 540px;
}

.modal__img-title {
}

@media screen and (max-width: 919px) and (min-width: 621px) {
  .modal {
    width: 240px;
    height: 299px;
  }

  .modal__close {
    width: 30px;
    height: 30px;
  }
}
